@font-face {
  font-family: "SegoeUIRegular";
  src: url("/assets/font/SegoeUIRegular/SegoeUIRegular.eot");
  src: url("/assets/font/SegoeUIRegular/SegoeUIRegular.eot?#iefix") format("embedded-opentype"), url("/assets/font/SegoeUIRegular/SegoeUIRegular.woff") format("woff"), url("/assets/font/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "SegoeUIBold";
  src: url("/assets/font/SegoeUIBold/SegoeUIBold.eot");
  src: url("/assets/font/SegoeUIBold/SegoeUIBold.eot?#iefix") format("embedded-opentype"), url("/assets/font/SegoeUIBold/SegoeUIBold.woff") format("woff"), url("/assets/font/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "SegoeUIItalic";
  src: url("/assets/font/SegoeUIItalic/SegoeUIItalic.eot");
  src: url("/assets/font/SegoeUIItalic/SegoeUIItalic.eot?#iefix") format("embedded-opentype"), url("/assets/font/SegoeUIItalic/SegoeUIItalic.woff") format("woff"), url("/assets/font/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "SegoeUILight";
  src: url("/assets/font/SegoeUILight/SegoeUILight.eot");
  src: url("/assets/font/SegoeUILight/SegoeUILight.eot?#iefix") format("embedded-opentype"), url("/assets/font/SegoeUILight/SegoeUILight.woff") format("woff"), url("/assets/font/SegoeUILight/SegoeUILight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "SegoeUISemiBold";
  src: url("/assets/font/SegoeUISemiBold/SegoeUISemiBold.eot");
  src: url("/assets/font/SegoeUISemiBold/SegoeUISemiBold.eot?#iefix") format("embedded-opentype"), url("/assets/font/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff"), url("/assets/font/SegoeUISemiBold/SegoeUISemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "SegoeUIBlack";
  src: url("/assets/font/SegoeUIBlack/SegoeUIBlack.eot");
  src: url("/assets/font/SegoeUIBlack/SegoeUIBlack.eot?#iefix") format("embedded-opentype"), url("/assets/font/SegoeUIBlack/SegoeUIBlack.woff") format("woff"), url("/assets/font/SegoeUIBlack/SegoeUIBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

:root {
  --prim-color: #1b2139;
  --grey: #a7a9af;
  --grey-dark: #3c3c3c;
  --grey-light:#939393;
  --grey-lighting: #afafaf;
  --pink: #f2093d;
  --green: #63d96e;
  --green-lighting: #d2fed6;
  --green-dark: #319939;
  --blue: #4a40fd; }

* {
  outline: none; }

body {
  font: 18px/1.2 "SegoeUIRegular", sans-serif;
  color: var(--prim-color); }

a {
  text-decoration: none; }

input {
  width: 100%;
  font: 14px/1 "SegoeUILight", sans-serif;
  color: var(--grey-light);
  border: none;
  padding-bottom: 14px;
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 24px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

textarea {
  width: 100%;
  height: 102px;
  padding: 2px 7px;
  border-color: #dcdcdc;
  border-radius: 5px;
  color: #989898;
  font: 14px/1.4 'SegoeUIRegular', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  resize: none; }

.container {
  max-width: 320px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.btn {
  width: 100%;
  height: 60px;
  padding-bottom: 6px;
  border: none;
  border-radius: 7px;
  position: relative;
  font: 24px/56px "SegoeUIRegular", sans-serif;
  color: #fff;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden; }

.btn-copy {
  display: block;
  width: auto;
  height: 30px;
  margin: 0 auto;
  padding: 0 14px;
  padding-bottom: 30px;
  border-radius: 16px;
  font-size: 14px;
  line-height: 30px;
  color: var(--blue);
  border: 1px solid var(--blue);
  background: none; }
  .btn-copy img {
    margin: 0px 0 -6px 8px; }

.btn-more {
  width: 102px;
  height: 25px;
  font: 10px/1 "SegoeUISemiBold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--blue);
  padding-bottom: 2px;
  background: #f4f4f4; }

.btn-back {
  display: block;
  margin: 0 auto;
  margin-top: 24px;
  text-align: center;
  background: #f4f4f4 !important; }
  .btn-back img {
    margin-right: 6px;
    margin-bottom: -2px; }

.btn-effect {
  width: 200px;
  height: 200px;
  position: absolute;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  -o-transition: transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
  z-index: 1; }

.btn:hover .btn-effect {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.btn:active .btn-effect {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5); }

.gradient-pink {
  background: -webkit-radial-gradient(circle closest-side, var(--pink), transparent);
  background: -o-radial-gradient(circle closest-side, var(--pink), transparent);
  background: radial-gradient(circle closest-side, var(--pink), transparent);
  -webkit-filter: brightness(150%);
  filter: brightness(150%); }

.gradient-blue {
  background: -webkit-radial-gradient(circle closest-side, var(--blue), transparent);
  background: -o-radial-gradient(circle closest-side, var(--blue), transparent);
  background: radial-gradient(circle closest-side, var(--blue), transparent);
  -webkit-filter: brightness(130%);
  filter: brightness(130%); }

.gradient-green {
  background: -webkit-radial-gradient(circle closest-side, var(--green-lighting), transparent);
  background: -o-radial-gradient(circle closest-side, var(--green-lighting), transparent);
  background: radial-gradient(circle closest-side, var(--green-lighting), transparent);
  -webkit-filter: brightness(112%);
  filter: brightness(112%); }

.btn-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 2; }

.more-about {
  display: inline-block;
  font-size: 12px;
  color: var(--blue);
  border-bottom: 1px dashed var(--blue);
  margin-bottom: 12px;
  padding-bottom: 2px; }
  .more-about:hover {
    -webkit-filter: brightness(120%);
    filter: brightness(120%); }

.text-wrap {
  position: relative;
  margin: 18px 0; }
  .text-wrap .max-lenght {
    position: absolute;
    right: 5px;
    bottom: 15px; }
    .text-wrap .max-lenght img {
      margin-bottom: -11px; }
    .text-wrap .max-lenght #max_lenght {
      font-size: 12px;
      color: #c3c2c2; }

.caption {
  font: 14px/1 'SegoeUIBold', sans-serif;
  margin-bottom: 6px; }

.balance {
  font-size: 24px;
  font-family: "SegoeUIBlack", sans-serif;
  text-transform: uppercase;
  margin-bottom: 0.4em;
  color: #000; }

.currency {
  font-size: 14px;
  font-family: "SegoeUISemiBold", sans-serif;
  color: #6f6f6f;
  margin-bottom: 22px; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 32px 26px 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.logo {
  display: block;
  width: 38px;
  color: var(--prim-color);
  font: 24px/1 "SegoeUIBold", sans-serif;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  margin-left: -28px; }

.hamburger {
  width: 24px;
  height: 16px;
  position: relative;
  cursor: pointer; }
  .hamburger span {
    height: 2px;
    position: absolute;
    background: #000;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .hamburger span:nth-child(1),
  .hamburger span:nth-child(2),
  .hamburger span:nth-child(3) {
    left: 0;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left; }
  .hamburger span:nth-child(4),
  .hamburger span:nth-child(5) {
    width: 20px;
    right: 0;
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right; }
  .hamburger span:nth-child(1) {
    width: 24px;
    top: 0;
    -webkit-transition-delay: .6s;
    -o-transition-delay: .6s;
    transition-delay: .6s; }
  .hamburger span:nth-child(2) {
    width: 20px;
    top: 7px;
    -webkit-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s; }
  .hamburger span:nth-child(3) {
    width: 16px;
    bottom: 0;
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s; }
  .hamburger span:nth-child(4) {
    top: 0;
    -webkit-transform: rotate(0) scaleX(0);
    -ms-transform: rotate(0) scaleX(0);
    transform: rotate(0) scaleX(0); }
  .hamburger span:nth-child(5) {
    bottom: 0;
    -webkit-transform: rotate(0) scaleX(0);
    -ms-transform: rotate(0) scaleX(0);
    transform: rotate(0) scaleX(0); }

.hamburger-active span:nth-child(1),
.hamburger-active span:nth-child(2),
.hamburger-active span:nth-child(3) {
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0); }

.hamburger-active span:nth-child(1) {
  -webkit-transition-delay: .001s;
  -o-transition-delay: .001s;
  transition-delay: .001s; }

.hamburger-active span:nth-child(2) {
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s; }

.hamburger-active span:nth-child(3) {
  -webkit-transition-delay: .4s;
  -o-transition-delay: .4s;
  transition-delay: .4s; }

.hamburger-active span:nth-child(4) {
  -webkit-transform: rotate(-45deg) scaleX(1);
  -ms-transform: rotate(-45deg) scaleX(1);
  transform: rotate(-45deg) scaleX(1);
  -webkit-transition-delay: .6s;
  -o-transition-delay: .6s;
  transition-delay: .6s; }

.hamburger-active span:nth-child(5) {
  -webkit-transform: rotate(45deg) scaleX(1);
  -ms-transform: rotate(45deg) scaleX(1);
  transform: rotate(45deg) scaleX(1);
  -webkit-transition-delay: .6s;
  -o-transition-delay: .6s;
  transition-delay: .6s; }

.menu {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: #fff;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  z-index: -1; }

.nav {
  width: 196px;
  margin: 0 auto;
  padding-top: calc(50vh - 160px);
  text-align: left; }
  .nav li {
    margin-bottom: 28px; }
    .nav li a {
      display: inline-block;
      font: 30px/1 'SegoeUISemiBold', sans-serif;
      color: #000;
      padding: 6px 6px 10px;
      background: var(--green-lighting); }

.lang-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 196px;
  margin: 0 auto;
  padding: 16px 16px 0 0; }
  .lang-block .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 60px;
    height: 32px;
    line-height: 1;
    padding: 0;
    opacity: 0.5;
    font: 12px/1 'SegoeUIBold', sans-serif;
    color: #414141;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
    background: none;
    margin-right: 30px; }
    .lang-block .btn img {
      margin-right: 8px; }
  .lang-block .lang-active {
    opacity: 1; }

.conten-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden; }

.content__item {
  width: 320px;
  height: 100%;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  overflow: hidden;
 /* -webkit-transition: margin .3s;
  -o-transition: margin .3s;
  transition: margin .3s;*/
  padding: 0 35px; }

.conntent__item-active {
  display: block; }

.content__start {
  padding-top: calc(50% - 122px);
  padding-top: calc(50vh - 122px); }
  .content__start h1 {
    font: 48px/1.2 "SegoeUISemiBold", sans-serif;
    margin-left: -2px;
    margin-bottom: 28px; }
  .content__start p {
    font-size: 18px;
    margin-bottom: 18px; }
  .content__start .btn {
    display: inline-block;
    text-align: center;
    background: var(--pink); }
  .content__start .back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }
    .content__start .back div {
      position: relative;
      width: 100%;
      height: 100%; }
      .content__start .back div img {
        position: absolute; }
    .content__start .back .group .img-01 {
      top: calc(50% - 160px);
      left: 0;
      -webkit-animation: img_01 8s infinite;
      animation: img_01 8s infinite; }
    .content__start .back .group .img-02 {
      top: calc(50% - 200px);
      left: 50%;
      -webkit-animation: img_02 8s infinite;
      animation: img_02 8s infinite; }
    .content__start .back .group .img-03 {
      top: calc(50% + 150px);
      right: 50%;
      -webkit-animation: img_03 8s infinite;
      animation: img_03 8s infinite; }
    .content__start .back .group .img-04 {
      top: calc(50% + 170px);
      right: 0;
      -webkit-animation: img_04 8s infinite;
      animation: img_04 8s infinite; }
    .content__start .back .group .img-05 {
      top: calc(50% - 210px);
      right: calc(50% + 70px);
      animation: img_01 8s reverse infinite; }
    .content__start .back .group .img-06 {
      top: calc(50% - 170px);
      right: 6%;
      animation: img_02 8s reverse infinite; }
    .content__start .back .group .img-07 {
      top: calc(50% + 140px);
      left: 8%;
      animation: img_03 8s reverse infinite; }
    .content__start .back .group .img-08 {
      top: calc(50% + 180px);
      left: calc(50% + 70px);
      animation: img_04 8s reverse infinite; }

.content__choose-wallet {
  padding-top: calc(50% - 200px);
  padding-top: calc(50vh - 200px);
  text-align: center; }
  .content__choose-wallet h5 {
    font-size: 24px;
    margin-bottom: 24px; }
  .content__choose-wallet .btn {
    display: inline-block;
    background: var(--blue);
    margin-bottom: 8px; }
  .content__choose-wallet .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .content__choose-wallet .more-about {
    margin-bottom: 18px; }
  .content__choose-wallet .btn-radio {
    font-size: 18px;
    color: var(--prim-color);
    width: auto;
    height: 47px;
    line-height: 47px;
    padding-left: 40px;
    padding-right: 30px;
    position: relative;
    background: #fff;
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s; }
    .content__choose-wallet .btn-radio span {
      border-radius: 50%; }
    .content__choose-wallet .btn-radio .outer {
      position: absolute;
      top: 16px;
      left: 22px;
      width: 13px;
      height: 13px;
      border: 1px solid #000;
      background: #fff; }
    .content__choose-wallet .btn-radio .internal {
      position: absolute;
      top: 1px;
      left: 1px;
      width: 9px;
      height: 9px;
      background: #fff;
      -webkit-transition: background-color .2s;
      -o-transition: background-color .2s;
      transition: background-color .2s; }
  .content__choose-wallet .btn-radio__active {
    background: var(--green-lighting); }
    .content__choose-wallet .btn-radio__active .internal {
      background: #000; }
  .content__choose-wallet .buttons-multiple {
    display: none; }
  .content__choose-wallet #simple img {
    margin-right: 18px;
    margin-left: -36px;
    margin-bottom: -3px; }
  .content__choose-wallet #feedback img {
    margin-right: 19px;
    margin-left: -8px;
    margin-bottom: -7px; }
  .content__choose-wallet #action img {
    margin-right: 18px;
    margin-left: -38px;
    margin-bottom: -3px; }

.content__describe-action {
  padding-top: calc(50% - 190px);
  padding-top: calc(50vh - 190px); }
  .content__describe-action .btn:not(.btn-back) {
    background: var(--blue); }

.content__attach-messege {
  padding-top: calc(50% - 180px);
  padding-top: calc(50vh - 180px); }
  .content__attach-messege form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .content__attach-messege form input {
      display: none;
      width: 100%;
      font: 14px/1 "SegoeUILight", sans-serif;
      color: var(--grey-light);
      border: none;
      padding-bottom: 14px;
      border-bottom: 1px solid #dcdcdc;
      margin-bottom: 24px; }
  .content__attach-messege .btn:not(.btn-back) {
    margin-top: 16px;
    background: var(--blue); }
  .content__attach-messege p {
    font-size: 24px;
    margin-bottom: 28px; }
  .content__attach-messege .trigger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 46px;
    height: 19px;
    border-radius: 9px;
    color: #fff;
    background: var(--grey-lighting);
    cursor: pointer;
    overflow: hidden;
    margin-top: 8px;
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s; }
    .content__attach-messege .trigger span {
      display: block;
      font: 10px/19px "SegoeUIBold", sans-serif;
      letter-spacing: 1px;
      -webkit-box-flex: 0;
      -ms-flex: none;
      flex: none; }
    .content__attach-messege .trigger .trigger_no {
      padding: 0 6px;
      -webkit-transition: margin .2s;
      -o-transition: margin .2s;
      transition: margin .2s; }
    .content__attach-messege .trigger .trigger_yes {
      padding-left: 4px; }
    .content__attach-messege .trigger .trigger_circle {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #fff;
      margin-top: 2px; }
  .content__attach-messege .trigger-active {
    background: var(--green);
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s; }
    .content__attach-messege .trigger-active .trigger_no {
      margin-left: -27px; }

.content__coins-address {
  padding-top: calc(50% - 200px);
  padding-top: calc(50vh - 200px); }
  .content__coins-address h5 {
    font-size: 24px;
    margin-bottom: 16px;
    text-align: center; }
  .content__coins-address .copy_link.active-copy .btn-copy {
    transition: all .5s;
    border-color: #63d96e;
    color: #63d96e;
  }
  .content__coins-address .copy_link.active-copy .btn-copy img {
    display: none;
  }
  .content__coins-address .copy_link.active-copy {
    transition: all .5s;
    color: #63d96e;
  }
  .content__coins-address .copy_link {
    font: 12px/1 "SegoeUIBold", sans-serif;
    color: var(--blue); }
    .content__coins-address .copy_link p {
      margin-left: -16px;
      margin-bottom: 16px; }
  .content__coins-address .qr-code {
    text-align: center;
    margin: 12px 0; }
    .content__coins-address .qr-code img {
      width: 121px;
      height: 121px; }
  .content__coins-address .btn:not(.btn-copy):not(.btn-back) {
    background: var(--blue); }
  .content__coins-address .btn-back {
    margin-top: 18px; }

.modal-alert {
  width: 100%;
  height: 100%;
  margin-top: -8px;
  padding: 0 32px;
  padding-top: calc(50% - 80px);
  padding-top: calc(50vh - 80px);
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background: #fff;
  z-index: 5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0;
  z-index: -1;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
  .modal-alert p {
    font-size: 24px; }
  .modal-alert .yipe {
    font: 30px/1 "SegoeUIBold", sans-serif;
    color: var(--green);
    margin: 32px 0; }
  .modal-alert .close-modal-alert {
    position: relative;
    width: 40px;
    height: 30px;
    margin: -40px auto 40px;
    cursor: pointer; }
    .modal-alert .close-modal-alert span {
      width: 40px;
      height: 1px;
      position: absolute;
      top: 15px;
      left: 0;
      background: #000; }
      .modal-alert .close-modal-alert span:first-child {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      .modal-alert .close-modal-alert span:last-child {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }

.modal-activation-types {
  padding-top: 24px;
  text-align: left; }
  .modal-activation-types .close-modal-alert {
    margin-top: 0; }
  .modal-activation-types h5 {
    font-size: 24px; }
  .modal-activation-types p {
    font-size: 16px; }
    .modal-activation-types p span {
      background: var(--green-lighting); }
  .modal-activation-types .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'SegoeUIBold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 38px;
    margin-bottom: 12px; }
    .modal-activation-types .title img {
      margin-right: 16px; }

.modal-activation-types.modal-type2 .title {
  margin-top: 24px; }

.modal-activation-types.modal-type2 .close-modal-alert {
  margin-bottom: 20px; }

.content__success {
  margin-top: calc(50% - 210px);
  margin-top: calc(50vh - 210px);
  position: relative; }
  .content__success h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 8px; }
  .content__success p {
    font-size: 16px;
    text-align: center; }
  .content__success .score {
    color: #000;
    margin: 24px -7px 36px;
    padding: 22px 0;
    text-transform: uppercase;
    letter-spacing: 1px; }
    .content__success .score .balance {
      font-size: 24px;
      font-family: "SegoeUIBlack", sans-serif;
      margin-bottom: 0.4em; }
    .content__success .score .currency {
      font-size: 18px;
      font-family: "SegoeUISemiBold", sans-serif; }
  .content__success .share {
    font-family: "SegoeUIBold", sans-serif;
    font-size: 16px;
    margin-bottom: 6px; }
  .content__success .copy_link p {
    font: 14px/1 "SegoeUIBold", sans-serif;
    color: var(--blue);
    margin-bottom: 12px; }
  .content__success .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -6px 16px; }
    .content__success .buttons .btn-copy {
      width: 96px;
      margin-top: 6px;
      margin-bottom: 6px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    .content__success .buttons .btn-qr {
      letter-spacing: 1px; }
      .content__success .buttons .btn-qr img {
        width: 21px;
        margin-left: 9px; }
    .content__success .buttons .btn-share img {
      margin-bottom: -3px; }
    .content__success .buttons .btn-more {
      height: 32px;
      padding-right: 40px;
      position: relative;
      font: 14px/1.2 "SegoeUIRegular", sans-serif;
      text-transform: none;
      letter-spacing: 0;
      background: none; }
      .content__success .buttons .btn-more span {
        color: var(--blue);
        font-size: 36px;
        position: absolute;
        top: -18px;
        right: 20px;
        letter-spacing: -2px; }
  .content__success .back {
    display: block;
    height: 180px;
    position: absolute;
    top: 24px;
    left: 30px;
    right: 30px;
    background: var(--green-lighting);
    z-index: -1; }

.modal-qr {
  padding-top: calc(50% - 150px);
  padding-top: calc(50vh - 150px);
  margin-top: -8px;
  opacity: 0;
  z-index: -1;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
  .modal-qr img {
    width: 250px; }

.modal-dir-links {
  padding-top: 48px; }
  .modal-dir-links h5 {
    font-size: 24px; }
  .modal-dir-links .links-items {
    width: 206px;
    margin: 0 auto; }
    .modal-dir-links .links-items .links__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 25px 0; }
      .modal-dir-links .links-items .links__item .qr {
        width: 22px; }
      .modal-dir-links .links-items .links__item span {
        font: 10px/1.2 'SegoeUIBold', sans-serif;
        text-transform: uppercase;
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        margin: 0px 10px 0 -18px; }
      .modal-dir-links .links-items .links__item p {
        color: #909090;
        font-size: 10px; }
        .modal-dir-links .links-items .links__item p img {
          width: 16px;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.content__type-wallet {
  padding-top: calc(50vh - 186px);
  text-align: center; }
  .content__type-wallet h1 {
    font-size: 24px;
    margin-bottom: 12px; }
  .content__type-wallet .more-about {
    margin-bottom: 22px; }
  .content__type-wallet .btn:not(.btn-back) {
    display: inline-block;
    position: relative;
    color: #000;
    background: var(--green-lighting);
    margin-bottom: 12px; }
    .content__type-wallet .btn:not(.btn-back) img {
      position: absolute;
      top: 16px;
      left: 22px; }

.content__form {
  padding-top: calc(50vh - 197px); }
  .content__form .unlimited {
    font-family: 'SegoeUISemiBold', sans-serif;
    margin-bottom: 18px; }
  .content__form .input {
    color: #94969d;
    font-size: 16px;
    padding-bottom: 6px;
    margin-bottom: 18px; }
  .content__form .btn:not(.btn-back) {
    background: var(--blue); }

.content__success-multiple .score {
  margin-top: 0; }

.content__success-multiple .share {
  margin-bottom: 16px; }

.content__success-multiple .send_link .btn-copy {
  width: 156px; }
  .content__success-multiple .send_link .btn-copy img {
    margin: 0px -14px -4px 13px; }

.content__success-multiple .send_link #copy img {
  margin: 0px -12px -6px 19px; }

.content__success-multiple .send_link #save img {
  margin: 0px -15px -4px 24px; }

.content__success-multiple .send_link #share img {
  margin: 0px -12px -4px 18px; }

.about {
  padding-top: calc(50vh - 190px); }
  .about h1 {
    font: 48px/1 "SegoeUISemiBold", sans-serif;
    margin-bottom: 16px; }
  .about p {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 26px; }
  .about .useful-links {
    height: 92px; }
    .about .useful-links a {
      color: var(--blue);
      font-size: 14px;
      line-height: 1.6;
      border-bottom: 1px solid var(--blue); }
      .about .useful-links a:hover {
        -webkit-filter: brightness(120%);
        filter: brightness(120%); }

.account-login {
  padding-top: calc(50vh - 190px); }
  .account-login h1 {
    font: 48px/1 "SegoeUISemiBold", sans-serif;
    margin-bottom: 16px; }
  .account-login p {
    font-size: 16px;
    line-height: 1.4;
    padding-bottom: 24px; }
  .account-login .input {
    font-size: 18px; }
  .account-login .btn {
    display: inline-block;
    text-align: center;
    background: var(--pink);
    margin-top: 12px; }

.account-open {
  padding-top: calc(50vh - 180px); }
  .account-open h1 {
    font-family: 'SegoeUISemiBold', sans-serif;
    margin-bottom: 28px; }
    .account-open h1 img {
      margin-right: 14px;
      margin-bottom: -2px; }
  .account-open .caption {
    font-family: 'SegoeUISemiBold', sans-serif;
    font-size: 16px; }
  .account-open .save {
    background: var(--blue);
    margin-bottom: 18px; }
  .account-open .stop {
    background: var(--pink);
    margin-bottom: 6px; }
  .account-open p:not(.caption) {
    color: #8f8f8f;
    font-size: 14px;
    text-align: center;
    margin-bottom: 36px; }
  .account-open .log {
    display: block;
    width: 102px;
    height: 25px;
    margin: 0 auto;
    line-height: 25px;
    font-size: 10px;
    text-transform: uppercase;
    background: var(--blue);
    margin-bottom: 32px; }

.page-account-open header {
  position: fixed; }

.page-account-open footer {
  position: static;
  margin-top: 48px; }

.page-account-open .menu {
  position: fixed; }

.password {
  padding-top: calc(50% - 122px);
  padding-top: calc(50vh - 122px);
  text-align: center; }
  .password h1 {
    margin-bottom: 18px; }
  .password .btn {
    display: block;
    width: 100%;
    background: var(--blue);
    margin-top: 16px; }

.common-wrap {
  text-align: center;
  padding: 0 35px; }
  .common-wrap .icon {
    margin-bottom: 12px; }
  .common-wrap .insert {
    font: 16px/1 "SegoeUIBold", sans-serif;
    color: #000;
    margin-bottom: 24px; }
  .common-wrap .description {
    font: 16px/1.5 "SegoeUIBold", sans-serif;
    margin: 0 -4px; }
  .common-wrap .btn {
    margin-top: 18px; }

.main {
  padding-top: calc(50% - 220px);
  padding-top: calc(50vh - 220px);
  text-align: center;
  margin: 0 -5px; }
  .main .transfer {
    font-size: 14px;
    color: var(--blue-lightnig);
    margin-top: 0; }
  .main .transfer-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .main .transfer-items .transfer__item {
      margin: 22px 0; }
    .main .transfer-items p {
      font: 10px/1.2 "SegoeUIBold", sans-serif;
      text-transform: uppercase;
      color: var(--prim-color); }
  .main .modal-alert {
    text-align: left;
    padding-top: calc(50% - 100px);
    padding-top: calc(50vh - 100px); }
    .main .modal-alert p {
      font-size: 18px;
      line-height: 1.4; }
    .main .modal-alert .title {
      font: 14px/1 "SegoeUIBold", sans-serif;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: 14px; }

.messege {
  position: absolute;
  top: 16px;
  right: 60px;
  z-index: 11;
  cursor: pointer; }

.another-persone {
  padding-top: calc(50% - 220px);
  padding-top: calc(50vh - 220px); }
  .another-persone .insert {
    line-height: 1.6;
    margin-bottom: 0; }
  .another-persone .btn-persone {
    display: block;
    color: #000;
    margin-top: 12px;
    background: var(--green-lighting); }

.another-persone__have-wallet {
  padding-top: calc(50% - 220px);
  padding-top: calc(50vh - 220px); }
  .another-persone__have-wallet .btn {
    background: var(--blue); }

.another-persone__dont-wallet {
  padding-top: calc(50% - 220px);
  padding-top: calc(50vh - 220px); }
  .another-persone__dont-wallet .insert {
    margin-bottom: 42px; }
  .another-persone__dont-wallet .btn {
    display: block;
    background: var(--blue); }

.success {
  padding-top: calc(50% - 200px);
  padding-top: calc(50vh - 200px);
  position: relative; }
  .success h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 8px; }
  .success p {
    font-size: 16px;
    text-align: center; }
  .success .score {
    color: #000;
    margin: 24px -7px 34px;
    padding: 22px 0;
    text-transform: uppercase;
    letter-spacing: 1px; }
    .success .score .balance {
      font-size: 24px;
      font-family: "SegoeUIBlack", sans-serif;
      margin-bottom: 0.4em; }
    .success .score .currency {
      font-size: 18px;
      font-family: "SegoeUISemiBold", sans-serif;
      color: #000; }
  .success .share {
    font-family: "SegoeUIBold", sans-serif;
    font-size: 16px;
    margin-bottom: 6px; }
  .success .copy_link p {
    font: 14px/1 "SegoeUIBold", sans-serif;
    color: var(--blue);
    margin-bottom: 12px; }
  .success .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 16px; }
    .success .buttons .btn-copy {
      width: 96px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    .success .buttons .btn-qr img {
      width: 21px; }
  .success .back {
    display: block;
    height: 200px;
    position: absolute;
    top: calc(50% - 172px);
    top: calc(50vh - 172px);
    left: -5px;
    right: -5px;
    background: #d2fed6;
    z-index: -1; }

.your-wallet {
  padding-top: calc(50% - 220px);
  padding-top: calc(50vh - 220px); }
  .your-wallet .btn {
    background: var(--blue); }

.charity-fund {
  padding-top: calc(50% - 220px);
  padding-top: calc(50vh - 220px); }
  .charity-fund .description {
    margin-top: 24px;
    margin-bottom: 24px; }
  .charity-fund .btn {
    background: var(--blue); }

.mobile-services {
  padding-top: calc(50% - 220px);
  padding-top: calc(50vh - 220px); }
  .mobile-services #phone {
    font: 16px/1.2 "SegoeUIBold", sans-serif;
    color: #000; }
    .mobile-services #phone:focus {
      font: 24px/1.2 "SegoeUIBold", sans-serif;
      text-align: center;
      color: #000; }
  .mobile-services .recevie {
    font: 12px/1.4 "SegoeUILight", sans-serif;
    color: var(--grey-light);
    margin-top: -12px; }
    .mobile-services .recevie span {
      margin-right: 11px; }
      .mobile-services .recevie span:last-child {
        margin-right: 0; }
  .mobile-services .btn {
    background: var(--blue); }

.games {
  padding-top: calc(50% - 220px);
  padding-top: calc(50vh - 220px); }
  .games .icon {
    margin-bottom: 24px; }
  .games .description {
    margin: 0 -6px;
    margin-bottom: 12px; }
  .games .btn {
    background: var(--blue); }

.yipe2 {
  margin-bottom: 22px; }

.pers-link {
  font: 16px/1 'SegoeUIBold', sans-serif !important;
  margin-top: 22px; }

.link {
  display: inline-block;
  font: 14px/1 'SegoeUIBold', sans-serif;
  color: var(--blue);
  margin-top: 12px; }

.btn-link {
  display: block;
  margin: 0 auto;
  width: 98px;
  height: 32px;
  border-radius: 18px;
  line-height: 32px;
  font-size: 14px;
  background: var(--blue);
  margin-top: 12px; }

.feedback {
  padding-top: calc(50% -200px);
  padding-top: calc(50vh - 200px);
  text-align: left; }
  .feedback p {
    line-height: 1.4; }
    .feedback p span {
      font-family: 'SegoeUIBold', sans-serif; }
  .feedback .explanation {
    font-family: 'SegoeUISemiBold', sans-serif;
    margin: 12px -20px 0;
    padding: 12px 20px 8px;
    background: #f4f4f4; }
    .feedback .explanation .more-about {
      font-size: 18px;
      font-family: 'SegoeUIRegular', sans-serif; }
  .feedback .text-wrap {
    position: relative;
    margin: 12px 0; }
    .feedback .text-wrap .max-lenght {
      position: absolute;
      right: 5px;
      bottom: 15px; }
      .feedback .text-wrap .max-lenght span {
        font-size: 12px;
        color: #c3c2c2; }
      .feedback .text-wrap .max-lenght #like {
        margin-bottom: -4px; }
      .feedback .text-wrap .max-lenght #grey {
        margin-bottom: -12px; }
  .feedback .btn:not(.btn-back) {
    display: inline-block;
    text-align: center;
    background: var(--blue);
    margin-top: 0; }

.feedback-action .explanation {
  margin-top: 12px; }

.feedback-action .text-wrap {
  margin: 12px 0; }

footer {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0; }

.copy {
  display: block;
  width: 130px;
  margin: 0 0 20px 26px;
  color: var(--grey);
  font-size: 14px;
  position: relative; }
  .copy:after {
    display: block;
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    top: -2px;
    right: 0;
    background: url("/assets/img/minter-logo.png");
    background-size: cover; }
  .copy span {
    color: var(--grey-dark);
    font-family: "SegoeUIBold", sans-serif; }

@-webkit-keyframes img_01 {
  0% {
    opacity: 0; }
  24% {
    opacity: 1; }
  26% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes img_01 {
  0% {
    opacity: 0; }
  24% {
    opacity: 1; }
  26% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-webkit-keyframes img_02 {
  0% {
    opacity: 0; }
  22% {
    opacity: 1; }
  29% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes img_02 {
  0% {
    opacity: 0; }
  22% {
    opacity: 1; }
  29% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-webkit-keyframes img_03 {
  0% {
    opacity: 0; }
  12% {
    opacity: 1; }
  48% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes img_03 {
  0% {
    opacity: 0; }
  12% {
    opacity: 1; }
  48% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-webkit-keyframes img_04 {
  0% {
    opacity: 0; }
  16% {
    opacity: 1; }
  32% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes img_04 {
  0% {
    opacity: 0; }
  16% {
    opacity: 1; }
  32% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0; } }
.disabled {
  background: var(--grey) !important;
}
.disabled:hover {
  background: var(--grey) !important;
}
